<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Pygics">
<meta name="author" content="hyjang@cisco.com">
<link rel="icon" href="/page/resource/image/favicon.ico">

<title>{{ main.name }}</title>

<link href="/page/resource/css/bootstrap.min.css" rel="stylesheet">
<link href="/page/resource/css/font-awesome.min.css" rel="stylesheet">
<link href="/page/resource/css/datatables.min.css" rel="stylesheet">
<link href="/page/resource/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="/page/resource/css/page.css" rel="stylesheet">
<style>
#page-loading {
	background: url({{ loading_bg }}) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#page-loading-content{color: {{ loading_color }};}
#page-loading-progress {background-color: {{ loading_color }};}
</style>

<!--[if lt IE 9]>
	<script src="/page/js/html5shiv.min.js"></script>
	<script src="/page/js/respond.min.js"></script>
<![endif]-->

{% for css in css_list -%}
<link href="{{ css }}" rel="stylesheet">
{% endfor %}

{% for head in head_list -%}
{{ head }}
{% endfor %}

</head>

<body>
	<script src="/page/resource/js/jquery-2.2.4.min.js"></script>
	<script src="/page/resource/js/bootstrap.min.js"></script>
	<script src="/page/resource/js/datatables.min.js"></script>
	<script src="/page/resource/js/ie10-viewport-bug-workaround.js"></script>
	<script src="/page/resource/js/pagecore.js"></script>
	<script src="/page/resource/js/pageapps.js"></script>
	{% for js in js_list -%}
	<script src="{{ js }}"></script>
	{%- endfor %}

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{% if brand_logo -%}
				<a id="brand-logo" class="navbar-brand page-trigger" page="{{ main.url }}"><img src="{{ brand_logo }}" /></a>
				{% endif -%}
				<a id="brand-main" class="navbar-brand page-trigger" page="{{ main.url }}">{{ main.name }}</a>
			</div>
			
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				{% for menu in menu_list -%}
				{% if menu.cat -%}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						{%- if menu.icon -%}<i class="fa fa-{{ menu.icon }}"></i>&nbsp;{%- endif -%}{{ menu.name }} <span class="caret"></span>
						</a>
          				<ul class="dropdown-menu page-dropdown-menu">
				{% for sub_menu in menu.menu_list -%}
							<li class="menu-trigger" page="{{ sub_menu.url }}"><a>{%- if sub_menu.icon -%}<i class="fa fa-{{ sub_menu.icon }}"></i>&nbsp;{%- endif -%}{{ sub_menu.name }}</a></li>
				{% endfor -%}
						</ul>
					</li>
				{% else -%}
					<li class="menu-trigger" page="{{ menu.url }}"><a>{%- if menu.icon -%}<i class="fa fa-{{ menu.icon }}"></i>&nbsp;{%- endif -%}{{ menu.name }}</a></li>
				{% endif -%}
				{% endfor -%}
				</ul>
			</div>
		</div>
	</nav>
	
	<div id="page-loading">
		<div id="page-loading-progress"></div>
		<div id="page-loading-content">
			<i class="fa fa-5x fa-spin fa-spinner"></i>
			<h1><b>{{ main.name }}</b></h1>
		</div>
	</div>
	
	<div id="page-fix">
		<div id="page" class="container-fluid"></div>
	</div>

</body>
</html>
