<!DOCTYPE html>
<html lang="en">

<head>

{% for meta in meta_list -%}
<meta{{ meta }}>
{% endfor -%}

<link rel="icon" href="{{ favicon }}">
<title>{{ title }}</title>

<link href="/page/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
{% for css in css_list -%}
<link href="{{ css }}" rel="stylesheet">
{% endfor -%}

{{ head }}

<!--[if lt IE 9]>
	<script src="/page/static/js/html5shiv.min.js"></script>
	<script src="/page/static/js/respond.min.js"></script>
<![endif]-->

</head>

<body>

<script src="/page/static/js/ie10-viewport-bug-workaround.js"></script>
{% for js in js_list -%}
<script src="{{ js }}"></script>
{% endfor -%}

{{ header }}

<div id="page_init" page_url="{{ init }}"><script>$(document).ready(function() { patch_dom("page_init") });</script></div>

{{ footer }}

</body>

</html>
