<!DOCTYPE html>
<html lang="en">

<!-- ######################## HEAD ######################## -->
<head>

<!-- page meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="hyjang@cisco.com">
<!-- additional meta -->
{% for meta in meta_list -%}
<meta{{ meta }}>
{% endfor -%}

<!-- browser headline -->
<title>{{ title }}</title>
<link rel="icon" href="{{ favicon }}">

<!-- page css -->
<link href="/page/static/template/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="/page/static/template/css/style.css" rel="stylesheet">
<!-- additional css -->
{% for css in css_list -%}
<link href="{{ css }}" rel="stylesheet">
{% endfor -%}

<!-- specific head -->
{{ head }}
<!-- IE specific -->
<!--[if lt IE 9]>
	<script src="/page/static/template/js/html5shiv.min.js"></script>
	<script src="/page/static/template/js/respond.min.js"></script>
<![endif]-->

</head>

<!-- ######################## BODY ######################## -->
<body>

<!-- page javascript -->
<script src="/page/static/template/js/ie10-viewport-bug-workaround.js"></script>
<script src="/page/static/template/js/jquery-3.2.1.min.js"></script>
<script src="/page/static/template/js/page.js"></script>
<!-- additional javascript -->
{% for js in js_list -%}
<script src="{{ js }}"></script>
{% endfor -%}

<!-- ======================= HEADER ======================= -->
{{ header }}

<!-- ======================== INIT ======================== -->
<div id="page_init" page_url="{{ init }}"><script>$(document).ready(function() { page_patch("page_init") });</script></div>

<!-- ======================= FOOTER ======================= -->
{{ footer }}

</body>

</html>
