/* Title */
#brand-logo {
	padding: 9px 5px 9px 15px;
}

#brand-logo > img {
	height: 32px;
}

#brand-main {
	margin: 0px;
	padding: 15px 25px 15px 0px;
}

/* Nav Menu */
.page-dropdown-menu {
	min-width: 100%;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	color: #555;
	background-color: #e7e7e7;
}

/* Page Loading */
#page-loading {
	position: absolute;
	z-index: 1020;
	overflow: hidden;
	margin-top: 51px;
	width: 100%;
	height: calc(100% - 51px);
	display: none;
}

#page-loading-progress {
	position: absolute;
	width: 100%;
	height: 2px;
}

#page-loading-content {
	position: relative;
	width: 100%;
	top: 30%;
	text-align: center;
}

/* Page Content */
#page-fix {
	position: fixed;
	margin-top: 50px;
	padding-top: 10px;
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 50px);
}

#page-empty {
	width: 100%;
	text-align: center;
}

.view-error-box {
	padding: 3px;
	border: 2px solid #ff0000;
	text-align: center;
	color: #ff0000;
	background-color: #ffbf00;
}

/* Nav */
.page-tab-content {
	padding: 10px 0px;
}

/* Action */
.clickable,
.page-trigger,
.menu-trigger,
.view-trigger,
.view-context {
	cursor: pointer;
}

/* Data Table */
.dt-buttons {
	float: left;
}

.dt-buttons > a {
	height: 30px;
	padding-top: 5px;
	background-color: transparent;
}

.dataTables_filter > label > input {
	background-color: transparent;
}

/* input */

.page-input-group,
.page-btn-group {
	width: 100%;
	padding: 5px 0px;
}
.page-btn-group > .page-btn {
	margin: 0px;
}

.page-btn {
	margin: 5px 0px;
}

.input-group-addon,
.input-group > input,
.input-group > select {
	border-radius: 0px;
}

.form-display-box {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
}

.page-input-in-table {
	position: relative;
	height: 18px;
	width: calc(100% + 18px) !important;
	left: -9px;
	margin: 0px;
	padding: 0px 8px;
	border: 1px dotted #ccc;
	border-radius: 0px;
	background-color: transparent;
}